var config = {};

// Server listening port (defaults to 1337 if not specified)
// config.port = 1337;

// URL of the locally-hosted couchDB instance
config.couchURL = "http://localhost:5984/registry/_design/app/_rewrite";

// URL used for rewriting tarball (attachment) URLs. Should match the URL of the proxy
config.proxyURL = "http://localhost:1337";

// Path on the File System where attachments are saved
config.attachmentPath = "/tmp/npmAttachments";

// URL of the centrally-hosted couchDB instance (defaults to "http://registry.npmjs.org" if not specified)
// config.centralURL = "https://registry.npmjs.org";

// URL of the centrally-hosted skimdb couchDB instance (defaults to "https://skimdb.npmjs.com/registry" if not specified)
// config.skimdbURL = "https://skimdb.npmjs.com/registry";

module.exports = config;
