var config = {};

// Server listening port (defaults to 1337 if not specified)
// config.port = 1337;

// URL used for rewriting tarball (attachment) URLs. Should match the URL of the proxy
config.proxyURL = "http://localhost:1337";

// Path on the File System where attachments are saved
config.attachmentPath = "/tmp/npmAttachments";

// URL of the centrally-hosted couchDB instance (defaults to "http://registry.npmjs.org" if not specified)
// config.centralURL = "https://registry.npmjs.org";

// URL of the centrally-hosted replication couchDB instance (defaults to "https://replicate.npmjs.com" if not specified). Beware: if using another couchDB instance, you may not replicate private module (https://github.com/npm/registry/issues/13#issuecomment-228131885)
// config.syncURL = "https://replicate.npmjs.com";

// Delay between module change detection (new version) and json download. It is useful to prevent downloading a json that is not up to date yet as we do not detect change from the same server as we download the json
// config.delay = 5000;

module.exports = config;
